@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.container-home .home-titulo{
    margin-top: 171px;
    width: 934px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-home .home-titulo h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #572EE5;
    line-height: 50px;
}

.container-home .home-titulo h1 span{
    color: #5ED7C6;
}

.container-home .home-imagen{
    margin-top: 24px;
}

.buscador{
    margin-top: -5px;
    position: relative;
    display: block
}
 
.input{
    width: 551px;
    height: 50px;
    border-radius: 27px;
    border: 1px solid #572EE5;
    padding-left: 54px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder{
    color:  #9CAFC3;
}

.buscador .lupa{
    position: absolute;
    margin: 15px 0 0 -40px;
    cursor: pointer;
}

.buscadorV2{
    margin-top: -5px;
    position: relative;
    width: 551px;
    height: 200px;
    border-radius: 27px;
    border: 1px solid #572EE5;
    background: white;
}

.inputV2{
    width: 551px;
    height: 50px;
    border-radius: 27px;
    border: none;
    padding-left: 54px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: none;
    outline: none;
    background: transparent;
}

.lupa-search{
    position: absolute;
    margin: -33px 0 0 21px;
    filter: invert(50%);
    cursor: pointer;
    display: none;
}

.buscadorV2 .lupa{
    position: absolute;
    padding: 0 0 0 0;
    margin: -33px 0 0 514px;
    cursor: pointer;
} 

.autocomplete-section{
    display: none;
    flex-direction: column;
}

.buscadorV2 .autocomplete-section hr{
    opacity: 0.5;
    color: #9CAFC3;
    margin: 0 23px 0 23px;
}

.buscadorV2 .autocomplete-section .autocompleteOptions{
    margin: 12px 0 0 23px;
    font-size: 16px;
    color:#9CAFC3 ;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.buscadorV2 .autocomplete-section .autocompleteOptions img{
    width: 15.8px;
    height: 15.8px;
    filter: invert(50%);
    margin-right: 14.8px;
    transform: translateY(2.5px);
    -webkit-transform: translateY(2.5px);
}

.trending{
    display: block;
    margin-top: 73px;
    text-align: center;
    color: #572EE5;
}

.trending h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.trending p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;
    font-size: 16px;
    font-weight: medium;
}

.trending p::first-letter{
    text-transform: uppercase;
}

.gif-grid .noResults{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 74px;
    margin-bottom: 149px;
}

.gif-grid .noResults hr{
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    width: 338px;
    margin-bottom: 83.9px;
}

.gif-grid .noResults h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #572EE5;
    text-align: center;
    font-weight: bold;
    margin-bottom: 109px;
}

.gif-grid .noResults img{
    width: 150px;
    height: 150px;
    margin-bottom: 29px;
}

.gif-grid .noResults h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    font-weight: bold;
}

.gif-grid .image-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.gif-grid .image-grid hr{
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    width: 338px;
    margin-top: 55px;
}

.gif-grid .image-grid #grid-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    font-weight: bold;
    margin-top: 82px;
}

.gif-grid .image-grid #grid-title::first-letter{
    text-transform: uppercase;
}

.gif-grid .image-grid #grid{
    width: 1127px;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gif-grid .image-grid #grid img{
    width: 260px;
    height: 200px;
    margin-top: 21px;
}

.gif-grid .image-grid a{
    border: 1px solid #572EE5;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    width: 127px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    margin-top: 78px;
    transition: all .5s ease;
    cursor: pointer;
    display: block;
}

.gif-grid .image-grid a:hover{
    background: #572EE5;
    color: white;
}

.gif-grid .image-grid #grid .gif-container{
    position: relative;
}

.gif-grid .image-grid #grid .gif-container #hover{
    width: 260px;
    height: 200px;
    opacity: 0.6;
    background: #572EE5;
    position: absolute;
    top: 0;
    margin-top: 21px;
    display: none;
}

.gif-grid .image-grid #grid .gif-container:hover #hover{
    display: block;
}

.gif-grid .image-grid #grid .gif-container .gif-info{
    max-width: 200px;
    position: absolute;
    bottom: 20px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: none;
}

.gif-grid .image-grid #grid .gif-container .gif-info p{
    font-size: 15px;
}

.gif-grid .image-grid #grid .gif-container .gif-info p::first-letter,
.gif-grid .image-grid #grid .gif-container .gif-info h1::first-letter{
    text-transform: uppercase;
}

.gif-grid .image-grid #grid .gif-container .gif-info h1{
    font-size: 16px;
    font-weight: bold;
}

.gif-grid .image-grid #grid .gif-container:hover .gif-info{
    display: block;
}

.gif-grid .image-grid #grid .gif-container .gifBtns{
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    margin-left: 130px;
    margin-top: 10px;
}

.gif-grid .image-grid #grid .gif-container:hover .gifBtns{
    display: flex;
}

.gif-grid .image-grid #grid .gif-container .gifBtns img{
    width: 32px;
    height: 32px;
    margin-right: 11px;
    cursor: pointer;
}

.fav-button{
    opacity: 0.7;
}

.fav-button:hover{
    opacity: 1;
}

.fav{
    opacity: 0.7
}

.fav:hover{
    opacity: 1
}